.scene {
  width: 60px;
  height: 60px;
  perspective: 500px;
}

.dice {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transform: translateZ(-200px);
}

.dice_face {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: beige;
  border-color: dimgray;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  display: grid;
  align-content: center;
}

.dice_face--1 {
  transform: rotateY(0deg) translateZ(30px);
}
.dice_face--3 {
  transform: rotateY(90deg) translateZ(30px);
}
.dice_face--2 {
  transform: rotateY(180deg) translateZ(30px);
}
.dice_face--4 {
  transform: rotateY(-90deg) translateZ(30px);
}
.dice_face--5 {
  transform: rotateX(90deg) translateZ(30px);
}
.dice_face--6 {
  transform: rotateX(-90deg) translateZ(30px);
}

@keyframes rotate1 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(360deg) rotateZ(720deg);
  }
}

@keyframes rotate2 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(540deg) rotateZ(720deg);
  }
}

@keyframes rotate3 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(450deg) rotateZ(900deg);
  }
}

@keyframes rotate4 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(450deg) rotateZ(720deg);
  }
}

@keyframes rotate5 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(270deg) rotateZ(810deg);
  }
}

@keyframes rotate6 {
  from {
    transform: translateZ(-500px) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateZ(0px) rotateY(450deg) rotateZ(810deg);
  }
}

.dice.show-1 {
  animation-name: rotate1;
}
.dice.show-2 {
  animation-name: rotate2;
}
.dice.show-3 {
  animation-name: rotate3;
}
.dice.show-4 {
  animation-name: rotate4;
}
.dice.show-5 {
  animation-name: rotate5;
}
.dice.show-6 {
  animation-name: rotate6;
}
