@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Syne Mono";
  font-weight: 800;
}

body {
  background: linear-gradient(to bottom right, rgb(11, 24, 9), rgb(21, 43, 16));
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#advent-calendar {
  min-width: 450px;
  max-width: 900px;
  background-color: rgb(117, 27, 16);
  margin: auto;
  margin-bottom: 2.6rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.644);
  padding: 0.6rem 0rem;
  background-size: cover;
  background-position: center;
}
.advent-card {
  width: 400px;
  height: 200px;
  margin: auto;
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  background-color: wheat;
  border-radius: 0.4rem;
  justify-content: center;
  border: inset rgb(44, 6, 78) 3px;
  box-shadow: inset 6px 6px 25px 12px rgba(0, 0, 0, 0.507),
    0px 0px 5px 3px rgba(48, 7, 0, 0.529);
  display: flex;
  padding: 0.6rem;
  cursor: url("image.png"), auto !important;
}

.closed {
  border: 2px dashed rgb(79, 58, 87) !important;
  font-size: 3rem;
}
.closed p {
  /* background-color: rgba(255, 255, 255, 0.541); */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 0) 70%
  );
  border: 3px solid rgba(255, 255, 255, 0.185);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: not-allowed;
}
@import url(https://fonts.googleapis.com/css?family=Syne+Mono:regular);
.advent-card p {
  margin: auto;
  text-align: center;
}

#submit-link {
  height: fit-content;
  margin: auto;
  border-radius: 0.6rem;
  border: dashed 2px rgba(255, 255, 255, 0.737);
  padding: 0.6rem;
  background-color: rgba(245, 245, 245, 0.159);
}
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.644);
  font-weight: 800;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
  .advent-card {
    font-size: x-small;
  }
  #advent-calendar {
    min-height: unset;
  }
}
